* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f8f2e8;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}